* {
    font-size: 13.5px;
    font-family: 'Raleway' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
body{
    /* background-image: url("../images/Background.jpg"); */
    /* background-color: #f7f9fc; */
    background-color:  white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    /* min-height: calc(100vh - 120px); */
}

.container{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 0px;
}
.header-nav{
    background-color: #2e2c2c;
    /* opacity: 0.7; */
    padding-left: 15px;
}
.page-footer{
    background-color: #2e2c2c;
}

.header-nav ul{
    padding-left: 10px;
}
.header-nav li a{
    font-size: 13px;
    padding: 0 8px;
}
.banner{
    height: 180px;
}
.banner img{
    height: 178px;
    width: 100%;
}
.card-title{
    margin-left: 15px;
}

.mycontainer i.left{
    margin-right: 4px !important;
}
.mycontainer1 i.left{
    margin-right: 0px !important;
}

/* h's */

h5{
    margin: 0;
    margin-left: 10px;
}

.page-header{
    /* background-color: #2b2929; */
    background-color: #616161;
    /* opacity: 0.8; */
    height: 50px;
    color: white;
    /* box-shadow: none !important; */
}
.page-header2{
    /* background-color: #81c784; */
    /* background-color: #11afdb; */
    background-color: #2196f3;
    /* opacity: 0.7; */
    height: 40px;
    color: white;
    margin-bottom: 15px;
}
.page-header2 h5{
    font-size:18px;
}


/* Buttons */
input[type="submit"]{
    color:white;
}

.btn-1{
    /* background-color: #49d166; */
    /* background-color: #11afdb; */
    background-color: #2196f3;
}
.btn-3{
    /* background-color: #49d166; */
    background-color: #11afdb  ;
    color: white;
}
.btn-4{
    /* background-color: #49d166; */
    background-color: #f71b1b  ;
    color: white;
}
.btn-2{
    /* background-color:  #2b2929; */
    /* background-color: #2196f3; */
    background-color: whitesmoke;
    color:#1e1e1e;
    /* border-radius: 180px !important; */
}
/* cards Container */

.card-1{
    margin-top: 10px;
    min-height: 75vh;
    padding: 5px;
}
.card-2{
    padding: 15px;
    padding-top: 5px;
}

/* tables */

.roomtable{
    margin-bottom: 20px;
}
a.btn{
    border-radius: 0;
} 
.roomtable td{
    /* padding: 5px 15px; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.roomtable th, .guesttable th, .myTable th, ItemInventoryTable th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.myTable td{
    padding: 8px 0px;
}
.myTable td, .myTable th{
    padding-left: 25px;
}

.guesttable td, .roomtable td{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, main{
    padding-left: 300px;
}
footer {
    padding-left: 160px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}

.sidenav .user-view{
    padding: 12px 32px;
    margin: 0;
    /* background-color: gray; */
    /* background-color: #11afdb; */
    /* color:white; */
}
.sidenav .user-divider{
    margin: 0;
    margin-bottom: 5px;
}
.sidenav .collapsible-header{
    padding: 0 32px;
}

.modal .modal-footer{
    padding-right: 35px;
}
.modal .modal-content{
    padding-bottom: 0;
    min-height:40vh
}
.file-field .file-path-wrapper{
    padding-left: 5px;;
}
.pagination li.active{
    background-color: #11afdb;
}
.checkInContainer input[type=text]:not(.browser-default),.checkInContainer input[type=number]:not(.browser-default),
input[type=email]:not(.browser-default), input[type=date]:not(.browser-default),
input[type=time]:not(.browser-default) {
    height: 2.5rem !important;
    border: 1px solid #a2aaa8 !important;
    text-indent: 5px;
    border-radius: 3px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14) !important;
}
.checkInContainer label{
    font-size: 15px;
    position: relative;
    top: -5px;
    left: 0 !important;
}
.checkInContainer .row{
    margin-bottom: 10px;
}
.tabs .tab a {
    color: #11afdb;
}
.tabs .tab a.active{
    color: #11afdb;
}

.tabcontainer{
    padding: 10px 8px 10px 0px !important;
}
@media only screen and (max-width: 600px) {
    #bedCardsContainer {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .tabcontainer{
        padding: 10px 4px 10px 4px !important;
    }
    .billing{
        padding: 0 !important;
    }
}

.card .card-image{
    padding: 0px 15px !important;
}
.seperate{
    border: 1px solid  #11afdb;
}
.bedCards .card-content{
    padding: 0px !important;
    font-size: 18px;
}
.bedCards .card-action{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px !important;
    font-size: 18px !important;
}

.bedCards .seperate p.roomNo{
    text-align: center;
    margin: 5px 0px;
    font-size: 15px;
}

/* room status backgrounds */

.Vacant{
    /* background-color: #81c784; */
     background-color: #4caf50;
}
.Cleaning{
    /* background-color: #4fc3f7; */
    background-color: #2196f3;
}
.Occupied{
    /* background-color: #e57373;*/
     background-color: #f44336;
}
.Maintenance{
    /* background-color: #ffb74d; */
    background-color: #ff9800;
}
.checkout{
    background-color: #ffeb3b;
}
.penalty{
    background-color: #fb8c00;
}

h5.sum-heading{
    background-color: #2b2929;
    opacity: 0.8;
    color: white;
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;    
}

.index-summaries{
    box-shadow: none;
    margin: 3px 0px !important;
}
.index-summaries .collapsible-header{
    padding: 8px 5px 8px 10px;
    font-size: 16px !important;
    /* background-color: #2b2929;
    opacity: 0.8;
    color: white; */
    /* background-color: #f0eeee; */
    background-color: #ebebeb; 
}
.index-summaries .collapsible-body{
    padding: 0 !important;  
}
.index-summaries .collapsible-body table tr td{
    padding: 10px 10px 10px 15px !important;  
    
}

.index-summaries .collapsible-body table tr:last-child{
    border: none !important;
}
.roomLink{
    color: black;
}
.checkInContainer input[type=text]:not(.browser-default):disabled{
    color:black;
}
.tests{
    line-height: 36px;
    height: 36px;
}
#h5-roomNo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#ratepernight{
    margin: 5px 0 20px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
div.accountInformation p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.roomStatusGuestIcon{
    font-size:22px;    
    font-weight:bold; 
    position:relative; 
    top:4px;
}
.roomRateGuestIcon{
    font-size:18px;    
    font-weight:bold; 
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.roomcalendarGuestIcon{
    font-size:17px;    
    /* font-weight:600;  */
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.roomcalendarTimeIcon{
     font-size:17px;    
    font-weight:600; 
    position: relative;
    top: 3px;
    margin-right: 5px;
}
span.guestName{
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
}
#h5-extras{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 35px 0 10px 0;
}
.extraDivContainer{
    max-height: 250px;
    overflow: auto;
}
.listofExtraContainer{
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
}
.roomInventoryDiv{
    margin-top: 10px;
    min-height: 50px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
#addExtra{
    padding: 0 10px;
}
.spanCheckinRoomStatus{
    font-weight:bold;
    font-size:15px;
}
#addedExtraTable td{
    padding: 5px 5px;
}
#ItemInventoryTable td{
    padding: 8px 0;
}
.listofExtraContainer table th{
    font-weight: 600;
}
.updateCheckoutTable tr,.updateCheckoutTable td{
    border: none;
}
.billingheader{
    font-size: 18px;
    font-weight: 400;
    padding: 15px 20px 15px 20px;
    /* background-color: #2b2929; */
    margin: 0;
    /* color:white; */
    opacity: 0.8;
}
.billing-table tr td, .billing-table tr th{
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}
.h5-adding{
    margin:0 0 30px 0;
    /* text-align:center; */
    text-indent: 15px;
    padding: 10px 0px;
    color: white;
    background-color: #2b2929;
    opacity: 0.8;
    font-size: 18px;
}

#roomtoDisplayInventory{
    font-size:18px;
}
#modalRoomNo{
    font-size: 32px;
}
@media only screen and (max-width: 992px){
    table.responsive-table th, table.responsive-table td{
        padding: 8px 0px;
        text-align: left;
    }
}
.reservation_modal .select-wrapper input.select-dropdown, .test1 .select-wrapper input.select-dropdown{
    height: 36px;
    line-height: 36px;
}
.my-billingTable tr td{
    padding: 5px 10px 5px 20px !important;  
}
#totalofOrders{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-card{
    width:50%;
    margin:auto;
    margin-top: 50px;
    min-width: 320px;
}
@media only screen and (max-width: 600px) {
    .login-card{
    width:100%;
    margin:auto;
    margin-top: 50px;
    }
}
.login-card .card-title{
    margin-left: 0;
}
.login-card .card-action{
    min-height: 70px;
}
.input-field .prefix ~ input{
    margin-left: 2.5rem;
}
.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label{
    margin-left: 2.7rem;
}

#roomTable, #myTable, #pagination li a,
.materialboxed, .summary table td,
.index-summaries .collapsible-body table tr{
   cursor: pointer;
}

span.page-link{
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}